.calculator {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: 50px auto;
}
.calculator input, .calculator button {
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}
.calculator input {
    grid-column: span 5;
}
#vertical {
    grid-row: span 2;
}
#horizontal {
    grid-column: span 2;
}